html, body {
  padding: 2rem;
  font-family: monospace;
  background-color: #f5f5f5;
}
header > h1 {
  font-size: 2rem;
}
main {
  font-size: 1rem;
  text-transform: uppercase;
}
footer > p {
  font-size: .7rem;
  text-transform: uppercase;
}
